body {
  margin: 0;
  padding: 0;
  background-color: pink;
  box-sizing: border-box;
  border: 3px solid green;
}
.nav ul {
  border: 3px solid red;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
}
.nav ul li {
  border: 3px solid blue;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 100px;
}
.menu-item-list-wrapper {
  border: 3px solid orange;
}
.box {
  padding: 20px;
  border: 3px solid blue;
  width: 100px;
}
.product-list {
  justify-content: space-between;
  border: 3px solid red;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
