// ATTENTION:
// styles for component from slick library
// selector tends to be messy and style change could leads to functional error
// so isolate this file

.slide {
	padding: 10px 20px;
	background-color: green;
	a {
		text-decoration: none;
		color: #333;
	}
}

.slick {
	&-active {
		background-color: #333;
		a {
			color: #fff;
		}
	}
}

// FIXME: avoid changing style of library, easy to leads to error
// .nav {
// 	position: sticky;
// 	top: 0;
// 	ul {
// 		border: 3px solid red;
// 		list-style: none;
// 		display: flex;
// 		margin: 0;
// 		padding: 0;
// 		overflow-x: scroll;
// 		li {
// 			border: 3px solid blue;
// 			padding-left: 30px;
// 			padding-right: 30px;
// 			min-width: 100px;
// 		}
// 	}
// }

// FIXME: avoid changing style of library, easy to leads to error
// .menu-item-list {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	&-wrapper {
// 		border: 3px solid orange;
// 	}
// }

// .slick {
// 	&-list {
// 		overflow-x: scroll;
// 	}
// 	&-slide {
// 		border: 3px solid blue;
// 	}
// 	&-track {
// 		display: flex;
// 		width: 100% !important;
// 	}
// 	&-prev,
// 	&-next {
// 		&::before {
// 			content: none;
// 		}
// 	}
// }
